<div class="login-box">
  <div class="login-logo">
    <img src="http://www.canhcung.com/images/deffiles/viLogo.png"/>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <form [formGroup]="myForm" novalidate>
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email" autofocus formControlName="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Mật Khẩu" formControlName="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-block btn-flat">ĐĂNG NHẬP</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
